<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&family=Montserrat:wght@200&&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script>document.write('<link rel="stylesheet" type="text/css" href="{{url_for("static", filename="css/styles.css")}}?v=' + Date.now() + '"\/>');</script>

    <title>Level Up Stayz</title>
  </head>
  <body>
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link active" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">Stayz</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Travelz</a>
      </li>
    </ul>
    <div class="image-container" data-stellar-background-ratio="0.5">
      <div class="image image--bg theme-22">
        <div class="image-img" data-displacement="../static/img/displacement.png" data-intensity="-0.5">
          <img src="../static/img/slide_1.jpg" alt="Image"/>
          <img src="../static/img/slide_2.jpg" alt="Image"/>
          <div class="overlay">
          </div>
        </div>
        <div class="image-content">
          <span class="image-meta">GOLD COAST</span>
          <h2 class="image-title">Luxury Accomodation</h2>
          <span class="image-meta second_header">GOLD COAST</span>
          <h2 class="image-title second_title">Luxury Accomodation</h2>
<!--           <h3 class="image-subtitle">
            <span>The parking habits of the Irish</span>
            <a class="image-link" href="#">Read more</a>
          </h3> -->
        </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>

    <!-- Image distortion effect scripts -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r83/three.min.js"></script> -->
    <script src="../static/js/three.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js"></script>
    <script src="../static/js/hover-effect.js"></script>

    <!-- Stellar.js Parallax Library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stellar.js/0.6.1/jquery.stellar.min.js" integrity="
    sha512-MZiEKWRoqHmTsaur2/0bTQaOT5DqmnMDWuXoYXgNwFzCq+J2rQRIa4uVOmkL7SnIIhis6V4IcPnhqKxgOt8zDg==" crossorigin="anonymous"></script>
    
    <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
    <script>
      document.write("<script type='text/javascript' src='{{url_for('static', filename='js/script.js')}}?v=" + Date.now() + "'><\/script>");
    </script>
  </body>
</html>